
:root {
  --swiper-theme-color: #DD7F28 !important;
}
* {
  box-sizing: border-box;
}
html{
width: auto;
max-width: 100%;
overflow-x: hidden;
}
body{
max-width: 100%;
overflow-x: hidden;
margin: 0px;

max-width: 1920px;
margin: auto;
font-family: Nunito;
font-size: 16px;
line-height: 21.8px;
text-align: left;
font-family: nunito, sans-serif;
font-weight: 500;
color: #5B3511;
}html {
scroll-behavior: smooth;
}
a, a:hover, a:focus, a:active {
text-decoration: none;
color: inherit;
}
.mr-18{
margin-right: 18px;
}
.ml-18{
margin-left: 18px;
}
.bg-header-1 .bg-header-1{
position: absolute;
}
.header{
background-image:  
url('./img/svg/header-bg.png') ;
align-content: center;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
/* padding-top:1px ; */
}
.bg-header-footer{
position: absolute;
top: 0;
}
.header__navbar{
/* position: fixed; */
/* width: 100%; */
/* z-index: 999;
top: 10px; */
display: flex;
justify-content: center;
padding: 54px;
padding-left:auto ;
padding-right:auto ;
margin-bottom: 92px;
}
.navbar-item-wrap{
margin-left: 9px;
margin-right: 9px; 
}
.header__main-img{
width: 669px;
height: 343px;
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 300px;
/* margin-top: 256px; */
}
.wrap-header-playnow{
position: relative;;
}
.header__play-now, .header__play-now-content{
display: block;
margin: auto;
margin-bottom: 40px;
}
.header-playnow-container{
width: 308px;
margin: auto;
}
.header__play-now-content{
/* position: absolute;
top: 0px; */

}
.header__download{
display: flex;
justify-content: center;
padding-bottom: 100px;
}
.header__download--app-store{
/* margin-right: 36px; */
}

/* BLOCK STORY */
.block-story{
height: 1004px;

}
.block-story__content{
margin: 0 auto;
margin-top: 0px;
width: 832px;
height: 662px;
background-image: url('./img/svg/paper.svg');
background-repeat: no-repeat;
background-size: contain;
background-position: 50% 50%; 
padding: 55px 90px 50px;
position: relative;
}
.title-content img{
width: 411px;
display: block;
margin:19px auto 70px;
}
.title-content{
position: relative;;
}
.block-title-text{
font-weight: 800;
font-size: 48px;
line-height: 65px;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.block-story__island-cloud-left{
bottom: 829px;
left: -395px;

}
.block-story__island-cloud-right{
bottom: 622px;
left: 828px;
}
.block-story__island-cloud-left ,.block-story__island-cloud-right{
position: relative;
}
.block-story__island-cloud-left--island, .block-story__island-cloud-right--island{
position: absolute;
left: 0px;

}
.block-story__island-cloud-left--cloud,.block-story__island-cloud-right--cloud{
position: absolute;
left: -12px;
bottom: -192px;
}
.block-story__content--tree-bottom{
position: absolute;
right: -39px;
bottom: -85px;
}
.block-story__content--tree-top
{    
position: absolute;
top: -48px;
left: 0px;
}

/* BLOCK GAME PLAY */
.block-game-play{
margin-bottom: 191px;
}

.block-game-play__slideshow img{
width: 960px;
/* margin-left: 32px;
margin-right: 32px; */
}

.block-game-play__slideshow{
/* display: none !important; */
}
.block-game-play__content,.block-story__content--main-content,.block-features__content{
width: 651px;
margin: auto;
}
.block-game-play__content{
margin-bottom: 40px;
margin-top: 40px;
}
.feature-card{
display: flex;
justify-content: center;
margin-top: 287px;
margin-bottom: 132px;
}
.feature-card__content{
position: relative;
width: 365px;
height: 407px;
background-image: url('./img/svg/paper-feature.svg');
background-size: cover;
padding-top: 99px;
}
.feature-card__img{
position: absolute;
top: -248px;
}
.feature-card__content--title{
margin-top: 99px;
font-size: 24px;
text-align: center;
line-height: 32px;
margin: auto;
font-weight: 800;


background: -webkit-linear-gradient(#FDE092,#C18B2C);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

/* text-shadow: #FC0 1px 0 10px; */




}
.feature-card__content--description{
width: 204px;
margin: auto;
text-align: center;
}
.feature-card__star{
position: absolute;
left: -74px;
bottom: -40px;
}
.feature-card-two{
margin: 0 77px  ;
}
.feature-card-two .feature-card__img{
left: 38px;
}
.feature-card-two .feature-card__star{
width: 80px;
top: -21px;
left: -24px;
}
.feature-card-three .feature-card__img{
right: -34px;
}
.feature-card-three .feature-card__star{
left: 266px;
bottom: -47px;
}
.stroke-text-dash  {
margin: 2em 0 1em;
}
/* BLOCK ROADMAP */
/* .border01 {
border-top: 1px dashed #000;
}
.border02 {
height: 1px;
background-image: linear-gradient(90deg, #000, #000 75%, transparent 75%, transparent 100%);
background-size: 20px 1px;
border: none;
} */
.border03 {
height: 2px;
/* background-image: url(img/svg/hr-vertical-sv); */
/* background-color: #5DD200; */
background-image: linear-gradient(90deg, transparent, transparent 50%, #fff 50%, #fff 100%), linear-gradient(90deg, #5DD200, #5DD200, #5DD200, #5DD200, #5DD200);
/* background-image: linear-gradient(90deg, transparent, transparent 50%, #fff 50%, #fff 100%), linear-gradient(90deg, #69d2e7, #a7dbd8, #e0e4cc, #f38630, #fa6900); */

background-size: 20px 3px, 100% 3px;
border: none;
}
.block-roadmap__time-line{
height: 40px;
}
.block-roadmap__time-line--hr{
transform: rotate(90deg);
  right: -271px;
  position: relative;
  top: -294px;
/* width: 985px;
margin: auto;
height: 3px; */
/* background-image: url(img/svg/hr-vertical-svg.svg); */
}
.block-roadmap__time-line--nodelist{
display: flex;
position: relative;
top: 231px;
margin: auto;
width: 500px;
}
.node{
/* border: 6px solid #F5A6A7; */
box-shadow:0 0 0 8px #C0F3C2;
-webkit-background-clip: padding-box; /* for Safari */
background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
border-radius: 50%;
width: 32px;
height: 32px;
background-color: #47A200;
display: table;
position: relative;
overflow:hidden;
opacity: 0.99;
z-index:999
}
.roadmap-phase{
display: flex;
margin: auto;
width: 1206px;
}
.node-one {
left: -240px;
}
.node-two {
left: 60px;
}
.node-three {
left: 304px;
}
.node-four {
left: 607px;
}
.phase__star{
margin-right: 4px;
}
.phase__star img{
width: 24px;
transform: rotate(-20deg);
}
.phase__title{
font-weight: 800;
font-size: 24px;
line-height: 33px;
color: #4CA7E8;
}
.star-and-content-item-wrap{
display: flex;
align-items: center;
}
.phase__content-item{
font-weight: 500;
font-size: 16px;
line-height: 22px;
color: #5B3511
}
.phase-one{
margin-left: 15px;
margin-right: 91px;
}

.phase-two{
/* margin-right: 13px; */
}
.phase-three{
/* margin-left: 25px;
margin-right: 100px; */
position: relative;
left:69px ;
}
.phase-four{
position: relative;
left: 168px;
}
/* FOOTER */
.footer{
display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 110px;
}
.footer__main-img{
width: 312.38px;
margin-bottom: 69px;
}
.footer__play-now{
margin-bottom: 41px;
}
.footer__play-now img{
width:280px;
}
.footer__download{
display: flex;
flex-direction: row;
margin: auto;
margin-bottom: 64px;

}
.footer__download img{
width: 211.64px;

}
.footer__download--app-store{
margin-right: 36px;
}

.footer__text{
margin-bottom: 24px;
font-weight: 800;
font-size: 24px;
line-height: 33px;
align-items: center;
text-align: center;
}
.footer__list-icon{
margin-bottom: 54px;
}
.text-defaul-title-style{
background: -webkit-linear-gradient(#FDE092,#C18B2C);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.icon-social-center{
margin: 0 64px;
}
.navbar-item{
position: relative;

}
.navbar-item img{
height: 49px;

}
.navbar-game-play img{
display: block;
/* max-width: 100%;
max-height: 100%;
width: auto; */
height: 49px;
}


.navbar-item .navbar-item-text{
font-weight: 800;
font-size: 24px;
line-height: 33px;
width: 100%;
text-align: center;
position: absolute;
top: 38%;
left: 50%;
transform: translate(-50%, -50%);
}

.navbar-story.navbar-item .navbar-item-text{
background: url("img/"); 
}


.navbar-item{
height: 49px;
}
.navbar-item-text{
font-weight: 800;
font-size: 24px;
line-height: 33px;

}
/* 
.navbar-item .navbar-item-text{
background-image:url('img/svg/btn-normal.svg') ;
background-repeat: no-repeat;
background-size: 100% 100%;
} */
/* .navbar-story .navbar-item-text{
width: 111px;
}
.navbar-game-play .navbar-item-text{
width: 104%;;
}
.navbar-feature .navbar-item-text{
width: 147px;
}
.navbar-roadmap .navbar-item-text{
width: 179px;
} */
.wrap-btn-play-now-pc{
display: block;
width: 324px;
height: 111px;
background-image:  url("img/svg/bg-playnow.svg");
margin: auto;
margin-bottom: 40px;

}
.btn-play-now-pc{
display: block;
margin: auto;
width: 282px;
height: 87px;
font-weight: 800;
font-size: 48px;
line-height: 58px;
text-align: center;
background-image: url(img/svg/btn-playnow-280.png);
position: relative;
top: 0px;

/* box-shadow: -10px -10px 10px #ccc;
border-top-left-radius:16px;
border-top-right-radius:16px;
border-bottom-left-radius:16px;
border-bottom-right-radius:16px; */
}
/* TEXT */
.block-story__title--text.block-title-text{
  width: 125px;
  height: 48px;
  background-image: url(img/svg/text-story-125-65.png);
  background-size: contain;
  background-position: center;
}
.block-game-play__title--text.block-title-text{
  width: 229px;
  height: 48px;
  background-image: url(img/svg/text-gameplay-229-65.png);
  background-size: contain;
  background-position: center;
}
.block-features__title--text.block-title-text{
  width: 195px;
  height: 38px;
  background-image: url(img/svg/text-features-197-65.png);
  background-size: contain;
  background-position: center;
}
.block-roadmap__title--text.block-title-text{
  width: 214px;
  height: 48px;
  background-image: url(img/svg/text-roadmap-216-65.png);
  background-size: contain;
  background-position: center;
}
.feature-card__content--title{
background: transparent;
background-size: contain;
background-position: center;
}
.sky-graden{
width:131px ;
height:26px;
background-image: url(img/svg/text-skygraden-131.png);
}
.warehouse{
width:130px ;
height:22px;
background-image: url(img/svg/text-warehouse-130-33.png);

}
.marketplace{
width:142px ;
height:26px;
background-image: url(img/svg/text-marketplace-141.png);

}
.footer__text.text-defaul-title-style{
width: 377px;
height: 33px;
background-image: url(img/svg/text-social-377-33.png);
background:transparent;
background-size: contain;
background-position: center;
}
.pc-hr .block-roadmap__time-line--hr{
display: block;
transform: rotate(0deg);
right: 0;
position: relative;
top: -33px;
margin: auto;
}
.pc-hr .block-roadmap__time-line--nodelist{
top: -15px;
}
.boxed {
width: 944px;
height: 548px;
background-image: linear-gradient(180deg, #FDE092 0%, #C18B2C 100%);
padding: 10px;
border-radius: 3%;

/* border-radius: 10px; */
margin-left: 10px;
margin-right: 10px;
}
.boxed-child {
width: 100%;
height: 100%;
background-color: #191a28;
border-radius: inherit;
}
.boxed{
/* margin-right: 8px;
margin-left: 8px; */
padding: 8px;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-container img,.swiper-container .swiper-slide,.swiper-container .boxed{
  
}
.swiper-container img {
  display: block;
  width: 960px;
  margin: auto;
  /* padding: 8px; */
  border: 4px solid linear-gradient(180deg, #FDE092 0%, #C18B2C 100%);
  border-radius: 16px;

}
.swiper-container .swiper-slide {
  width: 960px !important;
  height: 548px;
  background-image: linear-gradient(180deg, #FDE092 0%, #C18B2C 100%);
  padding: 0 !important;
  border-radius: 3%;
  
  /* border-radius: 10px; */
  margin-left: 10px;
  margin-right: 10px;
  }
  .swiper-container .boxed {
    width: 960px;
    background-image: linear-gradient(180deg, #FDE092 0%, #C18B2C 100%);
    padding: 10px;
    border-radius: 3%;
    margin: 0 !important;
    /* border-radius: 10px; */
    margin-left: 10px;
    margin-right: 10px;
    }
  .swiper-container .boxed-child {
    width: 100%;
    height: 100%;
    background-color: #191a28;
    border-radius: inherit;
    }
.swiper-container .swiper-wrapper {
  padding-left: initial;
  margin: 0;
}

.swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 980px;
  /* border-right: 1px solid black; */
  display: flex;
  align-items: center;
}
.swiper-slide-shadow-left,.swiper-slide-shadow-right{
  width: 98% !important;
  height: 96% !important;
  border-radius: 3%;
  margin: auto;
}
.swiper-3d .swiper-slide-shadow-left, .swiper-3d .swiper-slide-shadow-right{
  left: 1% !important; 
  top: 2% !important;
  background-image: linear-gradient(to left,rgba(0,0,0,.35),rgba(0,0,0,0.35)) !important; ;
}
.swiper-slide.swiper-slide-visible.swiper-slide-prev{
  position: relative !important;
  left: 80px !important;
}
.swiper-slide.swiper-slide-visible.swiper-slide-next{
  position: relative !important;
  right: 80px !important;
}
.swiper-button-prev{
  /* left: 133px !important; */
  left: 5% !important;
}

.swiper-button-next{
  /* right: 133px !important; */
  right: 5% !important;
}
.swiper-button-next{

}
.swiper-button-prev {
  width: 89px !important;
  height: 89px !important;
  background-image: url("img/svg/pre-btn.png") !important;
  background-size: cover !important;
  border-radius: 50%;
}

.swiper-button-next {
  width: 89px !important;
  height: 89px !important;
  background-image: url("img/svg/next-btn.png") !important;
  background-size: cover !important;
  border-radius: 50%;
}
.swiper-button-prev::after,.swiper-button-next::after  {
  display: none !important;
  }
  .swiper-pagination-bullet{
    width: 16px !important;
    height: 16px !important;
  }
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: -40px !important;
  }