
* {
    box-sizing: border-box;
  }
html{
  width: auto;
}
body{
  margin: 0px;


  font-family: Nunito;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  font-family: nunito, sans-serif;
  font-weight: 500;
  color: #5B3511;
}
.bg-header-1 .bg-header-1{
  position: absolute;
}
.header{
  background-image:  
  url('./img/svg/heading-bg.png');
  align-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.header__navbar{
  display: flex;
  justify-content: center;
  padding: 54px;
  padding-left:auto ;
  padding-right:auto ;
  margin-bottom: 92px;
}
.header__main-img{
  width: 669px;
  height: 343px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 300px;
}
.header__play-now{
  display: block;
  margin: auto;
  margin-bottom: 40px;
}
.header__download{
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}
.header__download--app-store{
  margin-right: 36px;
}
/* BLOCK STORY */
.block-story{
  height: 1004px;
  
}
.block-story__content{
  margin: 0 auto;
  margin-top: 0px;
  width: 832px;
  height: 662px;
  background-image: url('./img/svg/paper.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%; 
  padding: 55px 90px 50px;
  position: relative;
}
.title-content img{
  width: 411px;
  display: block;
  margin:19px auto 70px;
}
.block-story__island-cloud-left{
  
  bottom: 829px;
  left: -476px;

}
.block-story__island-cloud-right{
  bottom: 622px;
  left: 828px;
}
.block-story__island-cloud-left ,.block-story__island-cloud-right{
  position: relative;
}
.block-story__island-cloud-left--island, .block-story__island-cloud-right--island{
  position: absolute;
  left: 0px;

}
.block-story__island-cloud-left--cloud,.block-story__island-cloud-right--cloud{
  position: absolute;
  left: -12px;
  bottom: -192px;
}
.block-story__content--tree-bottom{
  position: absolute;
  right: -39px;
  bottom: -85px;
}
.block-story__content--tree-top
{    
  position: absolute;
  top: -48px;
  left: 0px;
}

/* BLOCK GAME PLAY */
.block-game-play__content{
  margin-bottom: 40px;
}
.block-game-play__slideshow img{
  margin-left: 32px;
  margin-right: 32px;
}

.block-game-play__slideshow{
  display: none !important;
}
.block-game-play__content,.block-story__content--main-content,.block-features__content{
  width: 651px;
  margin: auto;
}
.feature-card{
  display: flex;
  justify-content: center;
  margin-top: 287px;
}
.feature-card__content{
  position: relative;
  width: 365px;
  height: 407px;
  background-image: url('./img/svg/paper-feature.svg');
  background-size: cover;
  padding-top: 99px;
}
.feature-card__img{
  position: absolute;
  top: -248px;
}
.feature-card__content--title{
  margin-top: 99px;
  font-size: 24px;
  text-align: center;
  line-height: 32px;
  margin: auto;
  font-weight: 800;


  background: -webkit-linear-gradient(#FDE092,#C18B2C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* text-shadow: #FC0 1px 0 10px; */




}
.feature-card__content--description{
  width: 258px;
  margin: auto;
  text-align: center;
}
.feature-card__star{
  position: absolute;
  left: -74px;
  bottom: -40px;
}
.feature-card-two{
  margin: 0 77px  ;
}
.feature-card-two .feature-card__img{
  left: 38px;
}
.feature-card-two .feature-card__star{
  width: 80px;
  top: -21px;
  left: -24px;
}
.feature-card-three .feature-card__img{
  right: -34px;
}
.feature-card-three .feature-card__star{
  left: 266px;
  bottom: -47px;
}