
@media(max-width: 1760px){
    /* .block-story__island-cloud-left,.block-story__island-cloud-right {
        display: none;
    } */
}
@media (min-width:1243px){
    .show-to-1243{
        display: none;
    }
    
}
@media(max-width:1243px){
    .block-roadmap__time-line--nodelist{
    }
    .hide-to-1243{
        display: none;
    }
    .roadmap-phase{
      position: relative;
        display: flex;
        flex-direction: column;
        width: 278px;
        right: -52px;

    }
    .phase-one{
        margin-left: 0px;
        margin-right: 0px;
      }
      
    .phase-two{
    /* margin-right: 13px; */
    }
    .phase-three{
    /* margin-left: 25px;
    margin-right: 100px; */
    position: relative;
    left:0px ;
    }
    .phase-four{
    position: relative;
    left: 0px;
    }
    .star-and-content-item-wrap{
        margin-bottom: 15px;
    }
    .star-and-content-item-container{
        margin-bottom: 20px;
    }
    .phase__title{
        margin-bottom: 10px;
    }
    .phase__star{
        margin-right: 4px;
    }
    .show-to-1243 {
      transform: rotate(90deg);
      position: absolute;
      top: 467px;
      right: -171px;
    }
    .node-one {
        left: -240px;
      }
      .node-two {
        left: 160px;
      }
      .node-three {
        left: 520px;
      }
      .node-four {
        left: 665px;
      }
      .block-game-play__slideshow img{
        width: 600px;
      }
      .block-game-play__slideshow .boxed
      {
        width: 608px;
      }      
      .boxed{
        margin-right: 4px;
        margin-left: 4px;
        padding: 4px;
      }
}
@media(max-width: 1460px){
    .feature-card{
        flex-direction: column;
        align-items: center
    }
    .feature-card-two{
        margin: 320px 0 ;
    }
}
@media(min-width: 992px){
    .hide-on-pc {
        display: none;
    }
    main{
        background-image: url('img/svg/rectangle-29.svg');
      }
    .header__main-img{
      /* width: 669px;
      height: 343px; */
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 300px;
      padding-top: 257px;
    }

} 

@media(max-width: 992px){
    .hide-on-tablet{
        display: none;
    }
    .block-story{
      /* height:1400px */
        margin-bottom: 330px;
    }

    .toggle-navbar-mobile{
        position: absolute;
        top: 40px;
        left: 16px;
    }

    .toggle-navbar-mobile img{
        width: 48px ;
    }

.icon-social img{
  width: 32px;
}
}
    .block-story__content{
        height: 1132px;
        width: 382px;
        background-image: url('./img/svg/paper-long.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 50%; 
        padding: 58px 34px 76px;
        position: relative;
    }
    .block-story__content--tree-bottom{
        width: 215px;
        height: 258px;
        position: absolute;
        right: -7px;
        bottom: -85px;
      }
    .block-story__content--tree-top
    {    
        position: absolute;
        top: -34px;
        left: -18px;
        width: 174px;
    }
    .block-game-play{
        margin-bottom: 100px;
      }
    .block-features{
      margin-bottom: -45px;
    }
      .block-game-play__slideshow img{
        width: 450px;
        margin: auto;
        /* margin-left: 20px;
        margin-right: 20px; */
      }
      .block-game-play__slideshow .boxed{
        width: 458px;
        /* margin-left: 4px;
        margin-right: 4px; */
      }
      .boxed{
        margin-right: 4px;
        margin-left: 4px;
        padding: 4px;
      }
      
    .block-game-play__content{
        margin-bottom: 26px;
        margin-top: 24px;
    }
    .feature-card-two{
        margin: 220px 0 ;
    }
    .block-game-play__content,.block-story__content--main-content,.block-features__content{
    width: 316px;
    }
    .feature-card__content{
        width: 288px;
    height: 322px
    }
    .feature-card{
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
    }
    .feature-card__star{
        width: 100px;
        position: absolute;
        left: -74px;
        bottom: -40px;
      }
    .feature-card-two{
        height: 449px;
        background: url('img/svg/paper-mobile-long.svg');
    }
    .feature-card-two .feature-card__star{
        width: 91px;
    }
    .feature-card__img{
        top: -187px;
    }
    .feature-card-one .feature-card__img img{
        width: 297px;
    }
    .feature-card-two .feature-card__img img{
        width: 220px;
    }    
    .feature-card-three .feature-card__img img{
        width: 265px;
    }

      .feature-card-two .feature-card__img{
        left: 38px;
      }
      .feature-card-one .feature-card__star{
        left: -43px;
      }
      .feature-card-two .feature-card__star{
        width: 80px;
        top: -21px;
        left: -24px;
      }
      .feature-card-three .feature-card__img{
        right: 8px;
        top: -159px;
      }
      .feature-card-three .feature-card__star{
        bottom: -47px;
        left: 217px

      }

      .footer{
          flex-direction: column;
      }
      .footer__main-img{
        width: 240px;
        margin-bottom: 42px;
        display: block;
      }
      .footer__play-now{
        margin-bottom: 24px;
      }
      .footer__play-now img{
        width: 274px;
      }
      .footer__download{
        flex-direction: column;
        margin-bottom: 50px;
      }
      .footer__download--app-store{
        margin-right: 0;
        margin-bottom: 16px;
      }
      
      .footer__text{
        width: 196px;
        margin-bottom: 31px;
        margin-top: 0px;
      }
      .footer__list-icon{
        margin-bottom: 54px;
      }

      .overlay {
        /* display: none; */
        height: 100%;
        width: 0%;
        position: fixed; /* Stay in place */
        z-index: 1111; /* Sit on top */
        left: 0;
        top: 0;
        background-color: rgb(0,0,0); /* Black fallback color */
        background-color: rgba(0,0,0, 0.5); /* Black w/opacity */
        overflow-x: hidden; /* Disable horizontal scroll */
        /* transition: 0.25s;  */
      }
      .overlay.active{
        /* display: block; */
        width: 100%;
      }
      .navbar-mobile{
        /* display: none; */
        height: 100%;
        Width:0px;
        position: fixed; /* Stay in place */
        z-index: 1112; /* Sit on top */
        left: 0;
        top: 0;
        background-color: #65411E; /* Black fallback color */
        background-color: #65411E; /* Black w/opacity */
        overflow-x: hidden; /* Disable horizontal scroll */
        transition: 0.5s;
      }
  .navbar-mobile.active{
    /* display: block; */
    width: 280px;
  }
  .navbar-mobile-item-text{
    position: relative;
  }
  .navbar-mobile-item-text .navbar-story{
    background-image: url('img/svg/btn-navbar-pc-story-bg.svg');
  }
  .navbar-mobile-item-text .navbar-game-play{
    background-image: url('img/svg/btn-navbar-mobile-gameplay.svg');
  }  .navbar-mobile-item-text .navbar-feature{
    background-image: url('img/svg/btn-navbar-mobile-features.svg');
  }  .navbar-mobile-item-text .navbar-roadmap{
    background-image: url('img/svg/btn-navbar-mobile-roadmap.svg');
  }
.navbar-story {
  width: 115px;
  height: 49px;
}
.navbar-game-play {
  width: 167px;;
}
.navbar-feature {
  width: 151px;
  height: 49px;
}
.navbar-roadmap {
  width: 183px;
  height: 49px;
}
.navbar-item-text{
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.navbar-item{
  margin-bottom: 32px;
}

      /* Position the content inside the overlay */
.overlay-content {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 48px;
    left: 26px;
    width: 0%;
    margin-top: 30px;
    display: inline-block;
  }
  .overlay-content.active{
    width: 100%;
  }
  .navbar-mobile-item-text span{
    display: inline-block;
    text-align: center;
  }
  /* The navigation links inside the overlay */
  .navbar-mobile a {
    line-height: 40px;
    font-weight: 600;
    color: #3c3131;
    padding: 0px;
    margin-bottom: 29px;
    text-decoration: none;
    font-size: 24px;
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .navbar-mobile a:hover, .navbar-mobile a:focus {
    /* color: #f1f1f1; */
  }
  
  /* Position the close button (top right corner) */
  .navbar-mobile .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 40px;
    padding: 0px;
  }
  .navbar-mobile .closebtn img{
    width: 40px;
  }
  .closebtn{
    /* background-image: url("img/svg/btn-circle-normal.svg"); */
  }
  .social-text-mobile{
    width: 188px !important; 
    height:52px !important;
  }
.navbar-mobile .navbar-story img{
  position: relative;
  bottom: -8px;
  width: 64px;
  height: 25px;
}
.navbar-mobile .navbar-game-play img{
  position: relative;
  bottom: -8px;
  width: 116px;
  height: 25px;
  display: inline-block;
}
.navbar-mobile .navbar-feature img{
  position: relative;
  bottom: -4px;
  width: 98px;
  height: 20px;
}
.navbar-mobile .navbar-roadmap img{
  position: relative;
  bottom: -8px;
  width: 109px;
  height: 25px;
}
.footer{
  margin-top: 80px;
}
.feature-card__content--description{
  width: 204px;}

} 
@media (min-width: 768px) and (max-width: 992px) {
    .hide-on-tablet {
        display: none;
    }
    .header__main-img{
        width: 446px;
        height: auto;
        margin-bottom: 270px;
    }
    .header__main-img-wrap{
        padding-top: 89px;
    }
    .header{
        height: 790px;
        margin-bottom: 55px;
    }


    
}
@media (max-width: 768px)
{
  .mr-18{
    margin-right: 0px;
  }
  .ml-18{
    margin-left: 0px;
  }
  .header{
    /* margin-bottom: 100px; */
  }
  .block-story__title--text.block-title-text{
    background-image: url(img/svg/text-story-97-50.png);
    width: 84px;
    height: 33px;
  }
    .block-game-play__title--text.block-title-text{
      width: 154px;
      height: 33px;
      background-image: url(img/svg/text-gameplay-155-50-2.png);

  }
  .block-features__title--text.block-title-text{
      width: 131px;
      height: 27px;
      background-image: url(img/svg/text-features-155-50.png);

  }
  .block-roadmap__title--text.block-title-text{
      width: 144px;
      height: 33px;
      background-image: url(img/svg/text-roadmap-155-50.png);

  }    
  .header__download img,.footer__download img{
    width: 150px;
  }
  .wrap-btn-play-now-pc{
display: block;
    width: 225px;
    height: 78px;
    background-image: url(img/svg/bg-playnow.svg);
    background-size: contain;
    margin: auto;
    margin-bottom: 40px;
  }
  .btn-play-now-pc {
    width: 186px;
    height: 55px;
    background-size: contain;
}
}

@media (min-width: 414px) and (max-width: 768px) {
    .hide-on-tablet {
        display: none;
    }
    .header{
        height: 790px;
        background-position: 50% -128px;
    }
    .header__main-img{
        width: 329px;
        height: 169px;
        margin-bottom: 240px
    }
    .header__main-img-wrap{
        padding-top: 89px;
    }
    .header__download{
        flex-direction: column;
        align-items: center;
    }

    .header__download--app-store{
        margin-right: 0;
        /* margin-bottom: 17px; */
    }
    .mb-8{
      margin-bottom: 8px;
    }
    .mt-8{
      margin-top: 8px;
    }
    .title-content img{
        width: 281px;
    }
    .block-game-play__slideshow img{
        width: 360px;
        margin: auto;
        /* margin-left: 4px;
        margin-right: 4px; */
      }
      .block-game-play__slideshow .boxed{
        width: 368px;
        /* margin-left: 4px;
        margin-right: 4px; */
      }
      .boxed{
        margin-right: 4px;
        margin-left: 4px;
        padding: 4px;
      }
    .block-title-text{
    font-weight: 800;
    font-size: 30px;
    line-height: 65px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%); 
  }
}
@media(max-width:414px){
    .header{
        height: 790px;
        background-position: 50% -128px;
    }
    .title-content img{
      margin-bottom: 36px;
    }
    .header__main-img{
        width: 329px;
        height: 169px;
        margin-bottom: 240px
    }
    .header__main-img-wrap{
        padding-top: 89px;
    }
    .hide-on-mobile {
        display: none;
    }
    .header__download{
        flex-direction: column;
        align-items: center;
    }
    .mb-8{
      margin-bottom: 8px;
    }
    .mt-8{
      margin-top: 8px;
    }
    .header__download--app-store{
        /* margin-bottom: 17px; */
        margin-right: 0;
    }
    .title-content img{
        width: 281px;
    }
    .block-game-play__slideshow img{
        width: 320px;
        margin: auto;
        /* margin-left: 4px;
        margin-right: 4px; */
      }
    .block-game-play__slideshow .boxed{
      width: 328px;
    }
    .boxed{
      margin-right: 4px;
      margin-left: 4px;
      padding: 4px;
    }
      .block-title-text{
        font-weight: 800;
        font-size: 30px;
        line-height: 65px;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 46%;
        left: 50%;
        transform: translate(-50%, -50%); 
      }

}